*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   
    scroll-behavior: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
    
}
ul{
    padding-left: 0;
}
/* Header CSS Start */
.navButton{
text-decoration: none;
color: rgba(128, 128, 128, 0.639);
border-bottom: 2px solid transparent;
font-weight: bold;
margin: 10px;
padding: 8px;
font-size: 14px;
text-align: center;
margin-right: 20px;
transition: all ease-in-out 0.5s;
}
.navButton:hover{
border-bottom: 2px solid rgba(128, 128, 128, 0.667);
transition: all ease-in-out 0.3s;
border-radius: 8px;
perspective: 800px;
}

/* Header CSS End */

/* Footer CSS Start */
#footer{
    color: gray;
   font-size: 6px;
    cursor: pointer;
}
#footer li{
    font-size: 1.0rem;
    transition: all ease-in-out 0.2s;
    padding: 7px; 
    margin: 7px;  
    
}
#footer ul a{
   text-decoration: none;
   color: gray;
   font-size: 7px;
    
}
#footer ul h6{
   color: rgba(14, 10, 10, 0.712);
   font-weight: bold;
   margin: 7px;
    
}
/* #footer ul{
    border-bottom: 1px solid white;   
    
} */
#footerImage{
    display: flex;
    
    align-items: center;
  

}

/* Footer CSS End */